section.recipe_detail {
    display: grid;
    grid-auto-rows: minmax(0,auto);
    grid-template-columns: auto auto;
    padding-top: 10em;
    width: max-content;
    gap: 3em;
}

section.recipe_detail img {
    width: 20em;
}

section.recipe_detail .recipe_right_part {
    display: grid;
    color: #454545;
    grid-template-columns: auto auto;
}

section.recipe_detail h2 {
    margin-top: 0;
    font-size: 3em;
    grid-column: 1/3;
}

section.recipe_detail .recipe_right_part svg {
    padding-right: 1em;
}

.recipe_right_part ul {
    list-style: none;
}
.recipe_right_part ul li {
    margin-bottom: .2em;
}

section.recipe_main {
    padding: 0 15%;
    min-height: 100vh;
}

.recipe_steps ol {
    margin-top: 2.5em;
    color: #454545;
    font-size: 1.2em;
}

.recipe_steps ol li {
    margin-bottom: 1em;
}

ol li::marker {
    font-size: 1.3em;
  }
