main.sign_log .right_part_signup {
    background-image: url('../img/smoothie_bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}