.smoothie_tile img {
    width: 20em;
    height: 20em;
}

.smoothie_tile h3 {
    margin: 0;
}

.smoothie_tile span {

}

li.smoothie_tile {
    position: relative;
    display: grid;
    transition-duration: .5s;
}

li.smoothie_tile:hover {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    transform: scale(1.03);
    cursor: pointer;
}

li.smoothie_tile .tile_bottom_part {
    bottom: 0;
    left: 50%;
    padding: 1em 0;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translate(-50%, 0%);
    width: 20em;
    background: rgba( 0, 0, 0, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    color: bisque;
    letter-spacing: 1px;
}